/* stylelint-disable no-missing-end-of-source-newline */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: #e5e5e5;
  color: #000;
  font-family: "Poppins", sans-serif;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

button {
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column-direction {
  flex-direction: column;
}

.float {
  float: left;
}

.float li {
  display: inline-block;
}

label {
  display: none;
}

/* Mobile Menu */

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(0 59 147);
  padding: 10px 40px;
  opacity: 0.95;
  z-index: 10;
}

.navbar img {
  display: none;
}

.mobile-menu ul {
  padding-top: 50px;
}

.links li {
  padding-right: 20px;
}

.mycompetence li {
  padding: 10px 20px;
  background: #f7f7f9;
  border-radius: 8px;
  justify-content: flex-start;
  width: 303px;
}

.languages li {
  margin: 20px 0;
  justify-content: space-between;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.mobile-menu ul li {
  padding-top: 10px;
}

/* .blur {
  filter: blur(8px);
} */

.non-display {
  display: none;
}

.mobile-menu a {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #ffff;
  border-bottom: 1px solid;
}

.see-project a,
.content .see-resume a {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  padding: 10px;
  letter-spacing: 0.03em;
  color: #396df2;
  background: #fff;
  border: 1px solid #396df2;
  border-radius: 16px;
  transition: all cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.5s;
}

.mobile-menu a:hover {
  background-color: #000;
}

.xmark {
  position: absolute;
  right: 20px;
  margin-top: -10px;
  margin-right: -8px;
  margin-left: 20px;
  margin-bottom: 20px;
  color: #ffff;
}

.xmark i {
  padding-top: 13px;
}

/* Main-section */

.menu {
  color: #6070ff;
  padding: 10px;
}

header {
  background-color: #fff;
  padding: 10px 20px;
}

.logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  margin-top: 10px;
  margin-left: 12px;
  color: #6070ff;
  transition: transform 0.3s ease-in-out;
}

.logo:hover {
  transform: rotate(90deg);
}

.lg-lists span {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  align-items: center;
  padding: auto;
  margin: 0 10px;
}

.project ul li span {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  align-items: center;
  padding: auto;
  margin: 0 10px;
}

.main-section {
  background-image: url(./assest/img/header-shapes\ mobile.jpg);
  background-position: top;
  padding: 100px 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-section h1 {
  margin: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.mycompetence li img {
  margin-right: 10px;
}

.main-section .title img {
  border-radius: 50%;
}

.main-section .title span {
  color: #6070ff;
}

.main-section p {
  color: #172b4d;
  padding: 5px 20px;
}

.main-section button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  align-self: flex-start;
  margin: 20px 0;
  background: none;
}

ul.links {
  margin-top: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* My project Section */

.projects {
  margin: 30px 10px;
  background-color: #e5e5e5;
  padding: 20px 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.content h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-top: 10px;
  color: #7f8cff;
}

.project {
  margin: 30px 20px;
  background-color: #fff;
  padding: 20px 15px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 80%;
  grid-template-rows: 1fr;
  align-items: center;
}

.project h2 {
  padding: 20px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.project .toni {
  justify-content: flex-start;
}

.project .toni h5 {
  color: #344563;
}

.project ul:first-child {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  list-style: circle;
  list-style-type: circle;
}

.project ul li {
  color: #7a869a;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.project .decription {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding: 20px 0;
  color: #344563;
}

.project .language {
  justify-content: flex-start;
}

.project .language li {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  align-items: center;
  padding: 4px 12px;
  margin-right: 10px;
  width: auto;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

.project .see-project {
  margin-top: 30px;
  margin-bottom: 10px;
}

/* Animation */
.see-project a:hover,
.see-resume a:hover {
  background: #6070ff;
  color: #fff;
}

.see-project a:active,
.see-resume a:active {
  background: #2230d2;
  color: #fff;
}

.see-project a:disabled,
.see-resume a:disabled {
  background: #fff;
  color: #5e6c84;
}

.see-project a:enabled,
.see-resume a:enabled {
  background: #fff;
  color: #6070ff;
}

.project .project-img {
  width: 100%;
  max-height: 100%;
  height: auto;
  transition: transform cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.5s;
}

.project .project-img:hover {
  transform: scale(1.1, 1.1);
}

/* About */

.about {
  background-color: #e5e5e5;
}

.about h2 {
  color: #172b4d;
}

.about p {
  color: #172b4d;
}

.content {
  background-color: #fff;
  padding: 50px 20px;
  border-radius: 0 30px 0 0;
}

.content .see-resume {
  margin: 20px 0;
}

div.border-bootom {
  border-bottom: 1px solid #dfe1e6;
  padding: 20px 40px;
}

.languages ul.mycompetence,
ul.myframwork,
ul.myskils {
  /* flex-direction: column; */
  align-items: flex-start;

  /* display: none; */
}

/* Contact me section */

.contact-form {
  display: flex;
  flex-direction: column;
  background-image: url(./assest/img/contact-bg.png);
  background-color: #fff;
  background-repeat: no-repeat;
  padding-top: 100px;
  justify-content: center;
  background-size: 100%;
  padding-bottom: 20px;
}

.contac-card {
  padding-top: 20px;
}

.contact-me h2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
}

.contact-me p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin: 15px;
  padding: 10;
  transition: transform 0.3s ease-in-out;
}

.contact-me p:hover {
  transform: translate(42px, 8px);
}

.contact-me-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.input {
  width: 100%;
  height: 50px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  padding: 15px 38px 15px 16px;
}

.input-textarea {
  width: 100%;
  height: 150px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
  padding: 15px 38px 15px 16px;
}

.submit-button {
  width: 140px;
  height: 48px;
  font-weight: 500;
  line-height: 24px;
  border-radius: 8px;
  background: #fff;
  padding: 12px 16px;
}

.contact-form button {
  margin-top: 24px;
  padding: 12px;
  color: #396df2;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background: #fff;
  font-size: 17px;
  width: fit-content;
  transition: all cubic-bezier(0.08, 0.82, 0.48, 1.28) 3s;
}

.contact-form button:enabled {
  color: #6070ff;
  background: #fff;
}

.contact-form button:hover {
  color: #fff;
  background: #6070ff;
}

.contact-form button:active {
  color: #fff;
  background: #2230d2;
}

.contact-form button:disabled {
  color: #5e6c84;
  background: #fff;
}

.links {
  display: none;
}

.navbar .links {
  display: none;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  justify-content: center;
}

/* Start Modal for Mobile */

/* .modal {
  display: none;
  padding: 15px;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(193, 199, 208, 0.8);
}

.modal.active {
  display: block;
}

.modal-box {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  padding: 15px;
  margin: 16px;
  border-radius: 20px;
} */

.title-icon .pjname {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.modal-box .lg-lists {
  justify-content: flex-start;
}

.modal-box .lg-lists li {
  padding-right: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.modal-btn-group {
  padding-left: 20px;
}

.modal-btn-group .technologies {
  padding-top: 20px;
  border-bottom: 1px solid #ebecf0;
}

.modal-btn-group .technologies li {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  align-items: center;
  padding: 4px 12px;
  margin-right: 10px;
  width: auto;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
}

.modal-btn-group .see-project {
  margin-top: 20px;
  justify-content: flex-start;
}

.modal-btn-group .see-project a {
  margin-left: 5px;
  padding: 5px;
}

.img-group .main-img img {
  height: auto;
  width: 99%;
  padding: 20px 0;
}

.modal-btn-group .see-project a img {
  padding-left: 10px;
}

ul.technologies {
  flex-wrap: wrap;
}

.modal-btn-group .technologies li:nth-child(4),
.modal-btn-group .technologies li:nth-child(5),
.modal-btn-group .technologies li:nth-child(6) {
  visibility: hidden;
}

.modal-box .lg-lists li:first-child {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.modal-box .lg-lists li span {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  align-items: center;
  padding: auto;
  margin: 0 10px;
}

/* .close-btn {

} */

/* Start Validation Form */
form .message {
  width: 100%;
  background-color: #fff;
  color: rgb(205, 0, 0);
  text-align: center;
  font-family: var(--main-font);
  font-size: 12px;
  margin-top: 5px;
  border: 1px solid rgb(205, 0, 0);
  border-radius: 4px;
  padding: 2%;
  display: none;
}

/* ##############  */

/* Styles for the overlay background */
.modal {
  display: none;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(193, 199, 208, 0.8);
  overflow: auto; /* Enable scrolling for modal content */
}

/* Display the modal when it's active */
.modal.active {
  display: block;
}

/* Styles for the modal content */
.modal-box {
  background: #fff;
  padding: 15px;
  margin: 16px auto; /* Center the modal vertically */
  max-width: 1000px; /* Set a maximum width for the modal */
  border-radius: 20px;
  position: relative;
}

/* Ensure modal content doesn't exceed the viewport height */
.modal-box.overflow-y-auto {
  max-height: calc(100vh - 32px); /* Subtract padding and margins */
  overflow-y: auto; /* Enable vertical scrolling for modal content */
}

/* Style for the close button (customize as needed) */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #67798e;
}

.myproject-title {
  margin: 0 20px;
  margin-bottom: -20px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 30px;
}

/* ############################## */

@media screen and (min-width: 768px) {
  header {
    background: white;
  }

  .navbar {
    padding: 0 60px;
    justify-content: space-between;
    box-shadow:
      rgba(50, 50, 93, 0.25)
      0 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0 3px 7px -3px;
  }

  .navbar ul li a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0%;
    color: transparent;
    background: #aaa;
    height: 1px;
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
  }

  .navbar ul li a {
    position: relative;
    transition: all 1.5s;
    padding: 5px;
  }

  .content .see-resume a {
    border-radius: 10px;
  }

  .modal-btn-group .see-project a {
    width: max-content;
    border-radius: 10px;
  }

  .navbar ul li a:hover {
    color: #fff;
    z-index: 1;
    border-radius: 10px;
  }

  .navbar ul li a:hover::after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
    width: 100%;
  }

  /* End Navbar Animation */
  .navbar img {
    border-radius: 50%;
    display: inline;
  }

  .menu {
    display: none;
  }

  .navbar .links {
    display: flex;
  }

  ul.links {
    margin-top: 0;
  }

  .main-section {
    margin-top: 60px;
    display: grid;
    padding: 100px 130px;
    background-position: unset;

    /* margin: 0; */
    margin-bottom: 20px;
    border-bottom-left-radius: 50px;
    background-image: url(./assest/img/desktop-header-bg.png);
    background-color: #fff;
  }

  .main-section h1 {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .main-section p {
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 10px 30px;
  }

  .main-section div {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid-2 {
    display: grid;
    order: 2;
  }

  .projects {
    margin: 0;
    padding: 0;
  }

  .project .project-img {
    width: 90%;
    max-height: 100%;
    height: auto;
    transition: transform cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.5s;
  }

  .project .project-img:hover {
    transform: scale(1.1, 1.1);
  }

  .prject-content {
    margin: 20px;
    padding-bottom: 41px;
  }

  div.border-bootom {
    border-bottom: 1px solid #dfe1e6;
    padding: 20px;
  }

  .languages li {
    margin: 20px 0;
    justify-content: space-between;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    display: block;
    color: #000;
  }

  .mycompetence li {
    margin: 10px;
    align-items: center;
    max-width: 90px;
    background: #f7f7f9;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;

    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    color: #253858;
  }

  .project .toni {
    justify-content: flex-start;
  }

  .languages ul.mycompetence {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }

  .languages:first-child {
    padding: 5px 20px;
  }

  .about {
    padding: 0;
  }

  .about .content {
    margin: 0;
    background-color: #fff;
    padding: 30px 50px;
    border-radius: 0 50px 0 0;
  }

  .about p {
    color: #172b4d;
  }

  .languages ul.mycompetence,
  ul.myframwork,
  ul.myskils {
    /* flex-direction: column; */
    align-items: flex-start;

    /* display: none; */
  }

  .content .links {
    padding: 20px 5px;
  }

  .contact-form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-size: cover;
    background-color: #6070ff;
    background-image: url(./assest/img/destop-contact-bg.png);
    border-top-left-radius: 100px;
  }

  .contac-card {
    grid-column: 2/4;
  }

  .contact-me-form .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form input,
  .form textarea {
    width: 447px;
    border-radius: 0;
    padding-left: 20px;
  }

  /* Mobile Menu */
  .mobile-menu {
    display: none;
  }

  /* .blur {
    filter: blur(6);
  } */

  /* Start Modal */

  .modal {
    width: 100%;
  }

  .modal-box {
    width: 90%;
    margin: 65px auto;
    padding: 4vw;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .img-group .main-img {
    justify-content: center;
  }

  .img-group .main-img img {
    width: -webkit-fill-available;
  }

  .pj-info.grid {
    grid-template-columns: repeat(4, 1fr);
    margin: 20px;
    padding: 10px 0;
  }

  .pj-info.grid .modal-content {
    grid-column: span 3;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #344563;
    padding-right: 10px;
  }

  .modal-btn-group .technologies li {
    margin: 5px;
  }

  .modal-btn-group .technologies li:nth-child(4),
  .modal-btn-group .technologies li:nth-child(5),
  .modal-btn-group .technologies li:nth-child(6) {
    visibility: visible;
  }

  .modal-btn-group .technologies {
    padding: 10px 0;
    padding-top: 0;
    justify-content: flex-start;
    border-bottom: 1px solid #ebecf0;
  }

  .modal-btn-group .see-project {
    margin-top: 5px;
    padding-top: 10px;
  }

  /* Keyframes */
  @-webkit-keyframes fill {
    0% {
      width: 0%;
      height: 1px;
    }

    50% {
      width: 100%;
      height: 1px;
    }

    100% {
      width: 100%;
      height: 100%;
      background: #333;
    }
  }
}
